<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536787194899-0sh4uvlt63ehcgl5o57rrbng5uqrv24g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536787194899-0sh4uvlt63ehcgl5o57rrbng5uqrv24g</string>
	<key>API_KEY</key>
	<string>AIzaSyCHOrzG7T3xEPzty40ImwNMwt86k75bxfg</string>
	<key>GCM_SENDER_ID</key>
	<string>536787194899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-8b210</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-8b210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536787194899:ios:31f7de8df7e50cfd555be6</string>
</dict>
</plist>